html {
  font-family:sans-serif;
}

.mainBody {
  display:flex;
  justify-content: flex-start;
}

body {
  display:flex;
  flex-direction:column;
  background-color: black;
  user-select: none;
}

.inputSection {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.answerSection {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size:400%;
  color:aliceblue;
  user-select: none;
}

.banner {
  display:flex;
  justify-content: center;
}

.headBanner {
  display:block;
  text-align: right;
  font-size:300%;
  color:aliceblue;
  user-select: none;
}

.hidden {
  display:none;
}

.answerPrelude {
  text-align:center;
  font-size:large;
}

.headSmaller {
  color:aliceblue;
  font-size: 100%;
  text-align: right;
  user-select: none;
}
.headSmallest {
  color:aliceblue;
  font-size: 100%;
  margin:0 15.25%;
  text-align: left;
  user-select: none;
}

.bold {
  font-weight: 500%;
  font-size:115%;
}

div#hover.showing {
  margin:10px 0;
}

@keyframes startSpacing{
  from{
    padding:20px;
  }
  to{
    padding:40px 20px;
  }
}

@keyframes endSpacing{
  from{
    padding:40px 20px;
  }
  to{
    padding:20px;
  }
}

div#hover {
  transition:all 200ms ease-in-out;
  animation: endSpacing 200ms ease-in-out;
  animation-fill-mode: forwards;
}

div#hover:hover {
  transform:scale(1.02);
  animation: startSpacing 200ms ease-in-out;
  animation-fill-mode: forwards;
}

.yellow {
  background-color: gold;
  padding:20px;
}
.orange {
  background-color: orangered;
  padding:20px;
}
.red {
  background-color:maroon;
  padding:20px;
}
.purple {
  background-color:purple;
  padding:20px;
}
.blue {
  background-color:blue;
  padding:20px;
}
.green {
  background-color:green;
  padding:20px;
}